<h1>Poker#index</h1>

<% if notice %>
<id p = "notice">
	<%= notice%>
</p>
<% end %>

<% if (@user == nil) or (@user[:name] == nil)
	@user = User.new
	@user[:name] = 'd'
	@user[:password] = "s"
%>

<%= link_to 'Register', poker_register_path%>

<div class="index_form">
	<%= form_for @user, :url => poker_index_path do |f|%>
	<fieldset>
		<legend>
			Enter your name and password
		</legend>
		<div>
			<%= f.label :name%>:
			<%= f.text_field :name%>
		</div>
		<div>
			<%= f.label :password%>:
			<%= f.password_field :password%>
		</div>
		<div>
			<%= f.submit "Login"%>
		</div>	</fieldset>
	<% end %>
</div>
<%
else%>
<p>
	You are loggined as <% @user[:name]%>
</p>
#<%= link_to 'Sign out', poker_signout_path%>
#<%
end%>

<p>
	Find me in app/views/poker/index.html.erb
</p>
