<h1>Poker#register</h1>

<% if notice %>
<id p = "notice">
	<%= notice%>
</p>
<% end %>

<div class="index_form">
	<%= form_for @user, :url => tables_path do |f|%>
	<fieldset>
		<legend>
			Enter your name and password
		</legend>
		<div>
			<%= f.label :name%>:
			<%= f.text_field :name%>
		</div>
		<div>
			<%= f.label :password%>:
			<%= f.password_field :password%>
		</div>
		<div>
			<%= f.label :password_confirmation, 'Confirm'%>:
			<%= f.password_field :password_confirmation%>
		</div>
		<div>
			<%= f.submit "Register"%>
		</div>	</fieldset>
	<% end %>
</div>


<p>Find me in app/views/poker/register.html.erb</p>
