<h1>Tables#table</h1>

<p><%=	@table_name %></p>

<p>
<%=
	@messages
%>
</p>

<script type = "text/javascript">
	function sendMessage() {
		$.get(
			'<%= send_message_path %>',
			{
				name:'<%= @table_name%>',
				message: document.getElementById('MessageToSend').value
			}
		)
	}

	function getMessages() {
		$.get(
			'<%= get_messages_path %>',
			{
				name:'<%= @table_name%>',
			},
			onGetMessagesSucess
		);
	}

	function onGetMessagesSucess(data) {
		document.getElementById('Messages').value = data;
	}
	
</script>
<%
if signed_in?
%>

	<textarea id = 'Messages'></textarea>
	<button onClick = 'getMessages()'>Get Messages</button>
	<textarea id = 'MessageToSend'></textarea>
	<button onClick = 'sendMessage()'>Send Message</button>

<%
end
%>